<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width, minimum-scale=1, maximum-scale=1" name="viewport">
<link href="style.css" rel="stylesheet" type="text/css"/>
<script src="angular.js" type="text/javascript"></script>
<script src="script.js" type="text/javascript"></script>
<script type="text/javascript" src="cordova.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl" onload="onLoad()">
<script>
function onLoad() {
    if(( /(ipad|iphone|ipod|android|windows phone)/i.test(navigator.userAgent) )) {
        document.addEventListener('deviceready', initApp, false);
    } else {
        initApp();
    }
	createSelectedBanner();
}

var admobid = {};
if( /(android)/i.test(navigator.userAgent) ) {
	admobid = {
		banner: 'ca-app-pub-9156926935885120/2990257297',
		interstitial: 'ca-app-pub-9156926935885120/2990257297'
	};
} else if(/(ipod|iphone|ipad)/i.test(navigator.userAgent)) {
	admobid = {
		banner: 'ca-app-pub-9156926935885120/2990257297',
		interstitial: 'ca-app-pub-9156926935885120/2990257297'
	};
} else {
	admobid = {
		banner: 'ca-app-pub-9156926935885120/2990257297',
		interstitial: 'ca-app-pub-9156926935885120/2990257297'
	};
}
    
function initApp() {
if (! AdMob ) { return; }
initAd();
    // display a banner at startup
    createSelectedBanner();
}
function initAd(){
    var defaultOptions = {
        // bannerId: admobid.banner,
        // interstitialId: admobid.interstitial,
        // adSize: 'SMART_BANNER',
        // width: integer, // valid when set adSize 'CUSTOM'
        // height: integer, // valid when set adSize 'CUSTOM'
        position: AdMob.AD_POSITION.BOTTOM_CENTER,
        // offsetTopBar: false, // avoid overlapped by status bar, for iOS7+
        bgColor: 'black', // color name, or '#RRGGBB'
        // x: integer,		// valid when set position to 0 / POS_XY
        // y: integer,		// valid when set position to 0 / POS_XY
        isTesting: true, // set to true, to receiving test ad for testing purpose
        // autoShow: true // auto show interstitial ad when loaded, set to false if prepare/show
    };
    AdMob.setOptions( defaultOptions );
    registerAdEvents();
}
// optional, in case respond to events or handle error
function registerAdEvents() {
    // new events, with variable to differentiate: adNetwork, adType, adEvent
    document.addEventListener('onAdFailLoad', function(data){ 
    });
    document.addEventListener('onAdLoaded', function(data){});
    document.addEventListener('onAdPresent', function(data){});
    document.addEventListener('onAdLeaveApp', function(data){});
    document.addEventListener('onAdDismiss', function(data){});
}

// click button to call following functions
function getSelectedAdSize() {
    var i = document.getElementById("adSize").selectedIndex;
    var items = document.getElementById("adSize").options;
    return items[i].value;
}
function getSelectedPosition() {
    var i = document.getElementById("adPosition").selectedIndex;
    var items = document.getElementById("adPosition").options;
    return parseInt( items[i].value );
}
function createSelectedBanner() {
	var overlap = document.getElementById('overlap').checked;
    var offsetTopBar = document.getElementById('offsetTopBar').checked;
    AdMob.createBanner( {adId:admobid.banner, overlap:overlap, offsetTopBar:offsetTopBar, adSize: getSelectedAdSize(), position:getSelectedPosition()} );
}
function createBannerOfGivenSize() {
    var w = document.getElementById('w').value;
    var h = document.getElementById('h').value;
    
    AdMob.createBanner( {adId:admobid.banner,
                       adSize:'CUSTOM', width:w, height:h,
                       position:getSelectedPosition()} );
}
function showBannerAtSelectedPosition() {
    AdMob.showBanner( getSelectedPosition() );
}
function showBannerAtGivenXY() {
    var x = document.getElementById('x').value;
    var y = document.getElementById('y').value;
    AdMob.showBannerAtXY(x, y);
}
function prepareInterstitial() {
        AdMob.prepareInterstitial({adId:admobid.interstitial, autoShow:false});
}
</script>
<div id="page1">
	<table cellpadding="0" cellspacing="0" class="page-table">
	<tr class="page-table-bar"><td class="page-table-bar-right">ترازو<span class="page-table-bar-subtitle">برنامه تبدیل واحد</span></td></tr>
	<tr><td class="page-table-main">
		<table ng-repeat="(p_key, p_value) in property" ng-click="select(p_key)" cellpadding="0" cellspacing="0" class="property" onClick="javascript:gotopage(2);"><tr><td class="property-thumb" style="background-image:url(images/{{p_key}}.jpg);"></td><td class="property-name">{{p_value}}</td></tr></table>
	</td></tr>
	<tr><td class="page-table-copy">&copy; armanco<br>version:2.0.1</td></tr>
	</table>
</div>

<div id="page2">
	<table cellpadding="0" cellspacing="0" class="page-table">
	<tr class="page-table-bar"><td class="page-table-bar-right">
	<span id="page2-h1">{{property[property_id]}}</span></td><td class="page-table-bar-left"><a href="javascript:gotopage(1)"><table cellpadding="0" cellspacing="0" class="button"><tr><td>بازگشت</td></tr></table></a>
	</td></tr>
	<tr><td class="page-table-input" colspan="2">
		<input type="text" maxlength="40" ng-model="input_value">
	<tr><td class="page-table-unit" colspan="2">
		<table ng-repeat="(p_key, p_value) in unit[property_id]" ng-click="select_unit(p_key)" cellpadding="0" cellspacing="0" class="unit{{show_select_unit[p_key]}}"><tr><td>{{unit[property_id][p_key]}}</td></tr></table>
		</td></tr>
		<tr><td class="page-table-main" colspan="2">
		<table ng-repeat="(p_key, p_value) in unit[property_id]" cellpadding="0" cellspacing="0" class="converted"><tr><td class="converted-unit">{{unit[property_id][p_key]}}</td></tr><tr><td class="converted-value">{{convert(input_value,property_id,input_unit,p_key)}}</td></tr></table>
	</td></tr>
	<tr><td class="page-table-copy" colspan="2">&copy; armanco<br>version:2.0.1</td></tr>
	</table>
</div>

</body>
</html>